server {

    server_name  raffles.amsterdamphp.nl;
    listen [::]:443 ssl;
    listen 443 ssl;

    root  /var/www/raffle-client/current;
    index index.html;

    ssl_certificate /etc/letsencrypt/live/raffles.amsterdamphp.nl/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/raffles.amsterdamphp.nl/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

    error_log  /var/log/nginx/error_raffler-client.log warn;

    location / {
        try_files $uri /index.html;
    }
}

server {
    if ($host = raffles.amsterdamphp.nl) {
        return 301 https://$host$request_uri;
    }

	listen 80 ;
	listen [::]:80 ;
    server_name raffles.amsterdamphp.nl;
    return 404;
}
